.m-toolbar{
    top:0;
    right:0;
    left:0;
    position:fixed;
    z-index:10;
    min-height:80px;
    max-height:80px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;    
    /* box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2); */
    padding-left:8px;
    // background:transparent;
    background: rgba(255,255,255,0.6);
}

.m-toolbar > *{
    margin-top: auto;
    margin-bottom:auto;
}

.m-toolbar > .menu{
    margin-left: 16px;
    color:white;
    font-size: 35px;
    padding:8px;

    border-radius: 50%;

    transition: 0.25s ease-in-out all;
    -moz-transition: 0.25s ease-in-ou all;
    -webkit-transition: 0.25s ease-in-ou all;
}

.m-toolbar > .menu:hover{
    border-radius: 50%;
    background: rgba(0,0,0,.25);
    padding:8px;
}

.m-card{
    background:rgba(255,255,255,0.45);
    border-radius:10px;
    box-shadow:0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12),0 3px 5px -1px rgba(0,0,0,.2);
}
